<%-include("header")%>         
<style>
    body {
        max-width: 100vw;
        min-height:100vh;
            background-repeat: no-repeat;
            background-attachment: scroll;
            background-size: 100% 100%;
            background-image:url(8.jpg);
          }
    #img1  {
    float: left;    
        margin: 0 0 0 0;
        border-radius : 8px;
    }
    #img2  {
        float: right;    
        margin: 0 0 0 0;
        border-radius : 8px;
    }
    img{
        border-radius : 8px;
    }
    .para{
        position: relative;
        /* left: 30px; */
    }
</style>
<font face="sans-serif" color = "white" size="4">
    <h2 align = "left"><br>About Us..</h2>
<br><br>
    
    <ul>
        <li>Sri Amman Agencies incorporated in the year 2008.</li>
        <li> It is a platform, which act as a bridge between sellers and buyers for agricultural input products.</li>
        <li> We are known for supplying Seeds, Fertilizers, Pesticides that are required in agriculture.</li>
        <li >Wide range of products.</li>
        <li >Easy return/refund policies</li>
        <li>The simple registration process for customers.</li>
      </ul><br>
        <br><br>
        <div class="para">
        We're dedicated to providing you the very best fertilizers.<br>

        We hope you enjoy our products as much as we enjoy offering them to you. <br>
        If you have any questions or comments, please don't hesitate to contact us.<br>

<BR>
        Sincerely,<Br>

        Mr.V Thangavel<br><br>
        <table>
            <tr>
            <!-- <th><img src = "2.jpg" height="100" width="250" id="img"></th> -->
			<th><img src = "10.jpg" id = img2 height="100" width="250"></th>
            <th><img src = "img17.jpg" height="100" width="250" id="img"></th>
            <th><img src = "img4.jpg" height="100" width="250" id="img"></th>
            <th><img src = "9.jpg" height="100" width="250" id="img"></th>
            <th><img src = "7.jpg" height="100" width="250" id="img"></th>
            <th><img src = "img5.jpg" height="100" width="250" id="img"></th>
            </tr>
        </table>
        </div><br>
<%-include("footer")%>