<%-include("header")%>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" 
		integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="stylecontact.css">
<div class="contac">
	<section class="contact" >
		<div class="content">
			<h2>Contact Us</h2><br>
			<p>The process of testing an integrated system to verify that it meets specified requirements.</p>
		</div>
		<div class="container">
			<div class="contactInfo">
				<div class="box">
					<div class="icon"><i class="fa fa-map-marker" aria-hidden="true"></i>
					</div>
					<div class="text">
						<h3>Address</h3>
						<p> 4/187, Palani main road,<br> Dhasanayakkanpatti, <br> Dharapuram(t.k),<br>Tiruppur(d.t)-638673, <br> Tamilnadu.</p>	
					</div>
				</div>
				<div class="box">
					<div class="icon"><i class="fa fa-phone" aria-hidden="true"></i>
					</div>
					<div class="text">
						<h3>phone</h3>
						<p> +91 9786964748</p>	
					</div>
				</div>
				<div class="box">
					<div class="icon"><i class="fa fa-envelope-o" aria-hidden="true"></i>
					</div>
					<div class="text">
						<h3>Email</h3>
						<p>sriammanagenciesdnp@gmail.com</p>	
					</div>
				</div>
				<div class="box">
					<div class="icon"><i class="fa fa-map-marker" aria-hidden="true"></i>
					</div>
					<div class="text">
						<h3>Google Map</h3>
						<p><a href = "https://www.google.com/maps/place//data=!4m2!3m1!1s0x3ba9c38907d2bed7:0x544f361b535841eb?utm_source=mstt_1&entry=gps&lucs=swa"><br>Way To Amman Agencies>>> </a></p>	
					</div>
				</div>
			</div>
			<div class="contactForm">
				<form action="thanku.html">
				
					<h2><font color= "blue">Send Message</font></h2>
					<div class="inputBox">
						<input type="text" name="" required="required">
						<span>Full Name</span>
					</div>
					<div class="inputBox">
						<input type="text" name="" required="required">
						<span>Email</span>
					</div>
					<div class="inputBox">
						<textarea required="required"></textarea>
						<span>Type Your Feedback ...</span>
					</div>
					<div class="inputBox">
						<input type="submit" name="" value="Send">
					</div>
				</form>
			</div>
		</div>
		<iframe src="https://maps.google.com/maps?q=sri%20amman%20agencies%20Dhasanayakkan%20patti&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=&amp;output=embed" id="gmap_canvas" frameborder="0" scrolling="no" style="width: 98vw; height: 400px;"></iframe>
	</section>
</div>
<%-include("footer")%>