<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>LOGIN</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">  
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="/main.css">
    </head>
    <body>
		<div class="navbar">
			<img src="/imager.png" class="logo">
			<ul>
				<li> <a href="/"> Home </a> </li>
				<li> <a href="/about"> About </a> </li>
				<li> <a href="/products"> Products </a> </li>
				<%if(!curuser){%>
				<li> <a href="/login"> Login </a> </li> 
				<li> <a href="/signup"> Sign Up </a> </li> 
				<%}else{%>
				<li> <a href="/cart"> Cart </a> </li> 
				<li> <a href="/logout"> Log Out </a> </li> 
				<li> <a href="/edit/<%=curuser._id%>/profile"> Profile </a> </li> 
				<%}%>
				<li> <a href="/contact"> Contact </a> </li>	
			</ul>	
		</div>